<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre el Proyecto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre el Proyecto</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <p>
      TechCompareApp es una aplicación híbrida desarrollada con Ionic y Angular como proyecto de semestre
      para el curso de Nuevas Tecnologías del Desarrollo. Su objetivo es comparar y clasificar aplicaciones
      móviles según su tipo (nativa, híbrida o web/PWA), tomando como casos de estudio Nubank y Steam.
      La app permite explorar las características, ventajas y limitaciones de cada tipo de app,
      y sirve como demostración práctica del desarrollo multiplataforma con Ionic/Capacitor.
    </p>
  </div>
</ion-content>
